html { font-size: 62.5%; }

body {
	.bodyFont();
	
	font-size: 1.6em;
	color: @color_primary;
}

main {
	max-width: 75ch;
	margin-inline-start: auto;
	margin-inline-end: auto;
	margin-block-start: 2em;
	
	> * + * {
		margin-top: 1.5em;
	}
}

.movielist {
	opacity: 1;
	transform: translateY(0);
	transition:
		transform 300ms ease,
		opacity 300ms ease;

	&.fade {
		opacity: 0;
		transform: translateY(20px);
	}
}
